<template>
  <div class="row g-3">
    <div class="col-12">
      <NewVehicleInspectionForm />
    </div>
    <div class="col-12">
      <VehicleInspections
        :vehicleInspections="$store.getters.activeVehicleInspections"
      />
    </div>
  </div>
</template>

<script lang="ts">
import VehicleInspections from "@/components/VehicleInspections.vue";
import NewVehicleInspectionForm from "./NewVehicleInspectionForm.vue";

import { defineComponent } from "vue";
export default defineComponent({
  components: { NewVehicleInspectionForm, VehicleInspections },
});
</script>
