<template>
  <div class="row g-2 mx-2">
    <div class="col-12">
      <VehicleInspections
        :vehicleInspections="$store.getters.completedVehicleInspections"
      />
    </div>
  </div>
</template>

<script lang="ts">
import VehicleInspections from "@/components/VehicleInspections.vue";

import { defineComponent } from "vue";
export default defineComponent({
  components: { VehicleInspections },
});
</script>
