<template>
  <Modal id="newVehicleInspectionForm">
    <template v-slot:modal-title
      >Добавить автомобиль в очередь на технический осмотр</template
    >

    <template v-slot:modal-body>
      <form>
        <div class="mb-3">
          <Datepicker
            label="Дата*"
            required
            v-model:value="vehicleInspection.appointmentDate"
            :class="{
              'is-invalid': v$.vehicleInspection.appointmentDate.$error,
            }"
            @focus="v$.vehicleInspection.appointmentDate.$reset()"
          />
        </div>
        <div class="mb-3">
          <Input
            label="Имя*"
            required
            v-model:value="vehicleInspection.vehicle.owner.firstName"
            :class="{
              'is-invalid': v$.vehicleInspection.vehicle.owner.firstName.$error,
            }"
            @focus="v$.vehicleInspection.vehicle.owner.firstName.$reset()"
          />
        </div>
        <div class="mb-3">
          <Input
            label="Фамилия*"
            required
            v-model:value="vehicleInspection.vehicle.owner.lastName"
            :class="{
              'is-invalid': v$.vehicleInspection.vehicle.owner.lastName.$error,
            }"
            @focus="v$.vehicleInspection.vehicle.owner.lastName.$reset()"
          />
        </div>
        <div class="mb-3">
          <Input
            label="Отчество"
            v-model:value="vehicleInspection.vehicle.owner.middleName"
          />
        </div>
        <div class="mb-3">
          <Input
            type="tel"
            label="Номер телефона*"
            placeholder="+7 (999) 999-99-99"
            required
            v-model:value="vehicleInspection.vehicle.owner.phoneNumber"
            :class="{
              'is-invalid':
                v$.vehicleInspection.vehicle.owner.phoneNumber.$error,
            }"
            @focus="v$.vehicleInspection.vehicle.owner.phoneNumber.$reset()"
          />
        </div>
        <div class="mb-3">
          <Input
            type="email"
            label="E-mail"
            v-model:value="vehicleInspection.vehicle.owner.email"
            :class="{
              'is-invalid': v$.vehicleInspection.vehicle.owner.email.$error,
            }"
            @focus="v$.vehicleInspection.vehicle.owner.email.$reset()"
          />
        </div>
        <div class="mb-3">
          <Input
            label="Государственный номер автомобиля*"
            placeholder="x000xx 000"
            mask="a999aa 9{2,3}"
            v-model:value="vehicleInspection.vehicle.number"
            :class="{
              'is-invalid': v$.vehicleInspection.vehicle.number.$error,
            }"
            @focus="v$.vehicleInspection.vehicle.number.$reset()"
          />
        </div>
      </form>
    </template>

    <!-- из компонента передаётся метод закрытия окна, который будет вызван
    после успешного сохранения элемента -->
    <template v-slot:modal-footer="{ closeModal }">
      <button
        type="button"
        class="btn btn-primary"
        @click="addVehicleInspection(closeModal)"
      >
        Добавить
      </button>
    </template>
  </Modal>

  <button
    type="button"
    class="btn btn-dark"
    data-bs-toggle="modal"
    data-bs-target="#newVehicleInspectionForm"
  >
    Добавить
  </button>
</template>

<script lang="ts">
import { defineComponent, inject } from "vue";
import Modal from "@/components/Modal.vue";
import Input from "@/components/Input.vue";
import Datepicker from "@/components/Datepicker.vue";

import Vehicle from "@/models/Vehicle";
import VehicleInspection from "@/models/VehicleInspection";
import VehicleOwner from "@/models/VehicleOwner";

import useVuelidate from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
// валидатор госномера автомобиля
const vehicleNumber = (value: string): boolean => {
  // здесь можно было бы объявить более ужасающую регулярку для проверки госномера
  const reg = /^[а-яА-Я][0-9]{3}[а-яА-Я]{2}\s[0-9]{2,3}/;
  return reg.test(value);
};
// валидатор номера телефона
const phoneNumber = (value: string): boolean => {
  // регулярка номера телефона подобрана под маску (inputmask) для input type="tel"
  // (макса описана внутри компонента Input)
  const reg = /^\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2}/;
  return reg.test(value);
};

export default defineComponent({
  components: { Modal, Input, Datepicker },

  setup() {
    return {
      v$: useVuelidate(),
      showToast: inject("showToast") as (text: string, type?: string) => void,
    };
  },
  data() {
    return {
      vehicleInspection: {
        vehicle: {
          owner: {
            firstName: "",
            lastName: "",
            middleName: "",
            phoneNumber: "",
            email: "",
          } as VehicleOwner,
          number: "",
        } as Vehicle,
        appointmentDate: new Date(),
      } as VehicleInspection,
    };
  },
  methods: {
    addVehicleInspection(callback: () => void) {
      if (!this.validate()) return;

      this.$store.commit("addVehicleInspection", this.vehicleInspection);
      this.showToast("Автомобиль добавлен в очередь на технический осмотр");
      callback();
      this.clearForm();
    },

    validate(): boolean {
      this.v$.$touch();
      if (this.v$.$invalid) {
        const validationErrors = this.v$.$errors.map(
          (error) => error.$validator
        );

        if (validationErrors.includes("required"))
          this.showToast("Пожалуйста, заполните обязательные поля", "danger");

        // так как номер телефона - обязательное поле, показвать ошибку валидации только в случае, если оно заполнено
        if (
          validationErrors.includes("phoneNumber") &&
          this.vehicleInspection.vehicle.owner.phoneNumber
        )
          this.showToast("Некорректно введён номер телефона", "danger");

        if (validationErrors.includes("email"))
          this.showToast(
            "Некорректно введён адрес электронной почты",
            "danger"
          );

        // аналогично phoneNumber
        if (
          validationErrors.includes("vehicleNumber") &&
          this.vehicleInspection.vehicle.number
        )
          this.showToast(
            "Некорректно введён государственный номер автомобиля",
            "danger"
          );
        return false;
      }
      return true;
    },

    clearForm() {
      this.vehicleInspection = {
        vehicle: {
          owner: {
            firstName: "",
            lastName: "",
            middleName: "",
            phoneNumber: "",
            email: "",
          } as VehicleOwner,
          number: "",
        } as Vehicle,
        appointmentDate: new Date(),
      } as VehicleInspection;

      this.v$.$reset();
    },
  },
  validations() {
    return {
      vehicleInspection: {
        vehicle: {
          owner: {
            firstName: { required },
            lastName: { required },
            phoneNumber: { required, phoneNumber },
            email: { email },
          },
          number: { required, vehicleNumber },
        },
        appointmentDate: { required },
      },
    };
  },
});
</script>
