<template>
  <!-- 
    Стандартный input type="date" принимает и отдаёт дату в виде строки в формате 'yyyy-mm-dd'.
    Данная обёртка написана для того, чтобы работать с датами, как с переменными типа Date 

    onkeydown="return false" - запрет ввода даты с клавиатуры
  -->
  <Input
    type="date"
    onkeydown="return false"
    v-bind="$attrs"
    v-model:value="date"
    @focus="$emit('focus')"
  />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Input from "@/components/Input.vue";
export default defineComponent({
  components: { Input },
  props: {
    value: {
      type: Date,
      default: null,
    },
  },

  computed: {
    date: {
      get() {
        if (!this.value || !(this.value instanceof Date)) return null;
        // преобразование в формат 'yyyy-mm-dd'
        return (
          this.value.getFullYear() +
          "-" +
          ("0" + (this.value.getMonth() + 1)).slice(-2) +
          "-" +
          ("0" + this.value.getDate()).slice(-2)
        );
      },
      set(value: string) {
        if (value) this.$emit("update:value", new Date(value));
      },
    },
  },
});
</script>
