<template>
  <label class="w-100">
    <span class="form-label" v-if="label != null">
      {{ label }}
    </span>
    <input
      ref="input"
      class="form-control"
      v-bind="$attrs"
      :value="value"
      @input="$emit('update:value', $event.target.value)"
      @focus="$emit('focus')"
    />
  </label>
</template>

<script lang="ts">
import Inputmask from "inputmask";

import { defineComponent } from "vue";
export default defineComponent({
  props: {
    label: {
      type: String,
      default: null,
    },
    value: {
      type: String,
      default: null,
    },
    mask: {
      type: String,
      default: null,
    },
  },

  mounted() {
    const { input } = this.$refs;

    if (this.$attrs.type === "tel") {
      const phoneMask = new Inputmask("+7 (999) 999-99-99");
      phoneMask.mask(input);
    } else if (this.mask !== null) {
      const customMask = new Inputmask(this.mask);
      customMask.mask(input);
    }
  },
});
</script>
