<template>
  <div id="nav" class="bg-dark text-light">
    <router-link :to="{ name: 'Active' }">Очередь</router-link> |
    <router-link :to="{ name: 'Completed' }"
      >Прошедшие технический осмотр</router-link
    >
  </div>
</template>

<style lang="scss">
#nav {
  text-align: center;
  padding: 30px;
  a {
    font-weight: bold;
    color: inherit;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
