<template>
  <div class="row g-3" v-if="vehicleInspections.length">
    <div class="col-12" v-for="(inspection, i) in vehicleInspections" :key="i">
      <div class="card position-relative">
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-body"
        >
          <button
            type="button"
            class="btn-close"
            @click="removeVehicleInspection(inspection)"
          ></button>
        </span>
        <div class="card-body  d-flex justify-content-between">
          <div>
            <div class="h4">
              {{ inspection.vehicle.number }}
            </div>
            <div>
              {{ inspection.vehicle.owner.lastName }}
              {{ inspection.vehicle.owner.firstName }}
              {{ inspection.vehicle.owner.middleName }}
            </div>
            <div>
              <a :href="`tel:${inspection.vehicle.owner.phoneNumber}`">
                {{ inspection.vehicle.owner.phoneNumber }}
              </a>
            </div>
            <div v-if="inspection.vehicle.owner.email">
              <a :href="`mailto:${inspection.vehicle.owner.email}`">
                {{ inspection.vehicle.owner.email }}
              </a>
            </div>
            <div
              class="btn-group mt-2"
              role="group"
              v-if="!inspection.completionDate"
            >
              <button
                type="button"
                class="btn btn-success"
                @click="
                  $store.commit(
                    'completeVehicleInspectionSuccessfully',
                    inspection
                  )
                "
              >
                Пройден успешно
              </button>
              <button
                type="button"
                class="btn btn-danger"
                @click="
                  $store.commit(
                    'completeVehicleInspectionUnsuccessfully',
                    inspection
                  )
                "
              >
                Пройден неудачно
              </button>
            </div>
          </div>
          <div class="d-flex align-items-center align-self-start">
            <div
              class="badge bg-warning mx-2"
              v-if="
                !inspection.completionDate && inspection.appointmentDate < today
              "
            >
              Просрочено
            </div>
            <div
              class="badge bg-success mx-2"
              v-if="inspection.isInspectionSuccessful === true"
            >
              Успешно
            </div>
            <div
              class="badge bg-danger mx-2"
              v-if="inspection.isInspectionSuccessful === false"
            >
              Неудачно
            </div>
            <div class="h4 mb-0">
              {{
                inspection.completionDate?.toLocaleDateString() ||
                  inspection.appointmentDate.toLocaleDateString()
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>Список пуст</div>
</template>

<script lang="ts">
import VehicleInspection from "@/models/VehicleInspection";
import { defineComponent, PropType } from "vue";
export default defineComponent({
  props: {
    vehicleInspections: {
      type: Array as PropType<Array<VehicleInspection>>,
      default: () => [] as Array<VehicleInspection>,
    },
  },
  setup() {
    let today = new Date();
    // полночь текущего дня
    today = new Date(
      today.getFullYear(),
      today.getMonth(),
      today.getDate(),
      0,
      0,
      0
    );

    return { today };
  },

  methods: {
    removeVehicleInspection(vehicleInspection: VehicleInspection) {
      if (!confirm("Подтвердите удаление")) return;
      this.$store.commit("removeVehicleInspection", vehicleInspection);
    },
  },
});
</script>
