<template>
  <nav class="sticky-top">
    <Navbar />
  </nav>
  <div class="container py-4">
    <router-view />
  </div>
</template>

<script lang="ts">
import Navbar from "@/components/Navbar.vue";
import { createToast, ToastType } from "mosha-vue-toastify";
import "mosha-vue-toastify/dist/style.css";

import { defineComponent } from "vue";
export default defineComponent({
  components: { Navbar },
  created() {
    this.$store.commit("setVehicleInspections");
  },
  provide: {
    showToast(text: string, type: string = "success") {
      createToast(text, {
        hideProgressBar: true,
        transition: "slide",
        type: type as ToastType,
        position: "bottom-right",
      });
    },
  },
});
</script>
